@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding-inline: 1.5%;
    background-color: #EAD8B5;
    min-height: 100vh ;
}

.yellow{
    background-color: rgba(255, 225, 71, 0.5);
}

.round-brown {
    border-color: black;
}

.bc-yellow {
    background-color: #EAD8B5;
}

.blue {
    background-color: rgba(255, 255, 255, 0.5);
}

.s-full {
    min-height: 90vh;
}

.align-self-center {
    align-self: center;
}